<!DOCTYPE html>
<html>
<head>
    <title>Sistema Acadêmico</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema Acadêmico</h1>
    <ul>
        <li><a href="{% url 'pessoas' %}">Gerenciar Pessoas</a></li>
        <li><a href="{% url 'ocupacoes' %}">Gerenciar Ocupações</a></li>
        <li><a href="{% url 'instituicoes' %}">Gerenciar Instituições</a></li>
        <li><a href="{% url 'cursos' %}">Gerenciar Cursos</a></li>
        <li><a href="{% url 'disciplinas' %}">Gerenciar Disciplinas</a></li>
        <li><a href="{% url 'matriculas' %}">Gerenciar Matrículas</a></li>
    </ul>
</body>
</html>
